<style type="text/css">
   ._md-select-value {
       min-width: 56px!important;
   }
 </style>
<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="REGISTER" hide-nav-bar="false">
  <ion-nav-buttons side="left">
     <i class = "icon icon ion-android-arrow-back" ui-sref="app.start"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
        <div class="list padding">
            <div layout-gt-sm="row">
              &nbsp;
            </div>
            <div layout-gt-sm="row" class="row">
                <div class="col col-20">
                    <md-input-container class="md-block" flex-gt-sm>
                        <!-- <label>{{register.ccode}}</label> -->
                        <md-select name="code" ng-model="register.ccode" ng-change="changeCcode(register.ccode)">
                            <md-option ng-repeat="code in countryList">{{code.ccode}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col col-10">
                    <p>&nbsp;</p>
                </div>
                <div class="col col-70">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Mobile No <span class="error">*</span></label>
                        <input ng-model="register.mobile" maxlength="{{maxLen}}">
                        <div ng-if="mobileError" class="error hint">{{mobileErrorMsg}}</div>
                    </md-input-container>
                </div>
            </div>
             <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>First Name</label>
                <input ng-model="register.fname" maxlength="32">
                <div ng-if="fnameError" class="error hint">{{fnameErrorMsg}}</div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Last Name</label>
                <input ng-model="register.lname" maxlength="32">
                <div ng-if="lnameError" class="error hint">{{lnameErrorMsg}}</div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Email Address</label>
                <textarea ng-model="register.email"></textarea>
                <div ng-if="emailError" class="error hint">{{emailErrorMsg}}</div>
              </md-input-container>
            </div>         
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>City</label>
                <input ng-model="register.city">
                <div ng-if="cityError" class="error hint">{{cityErrorMsg}}</div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Country</label>
                    <md-select name="gender" ng-model="register.country" ng-change="changeCountry(register.country)">
                        <md-option ng-repeat="country in countryList" ng-selected="$first">{{country.country}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="register.tc" class="md-primary" ng-click="acceptTerm();">
                   Accept <a href="javascript:void(0);" ng-click="viewTC();">Terms & Conditons</a>
                  <div ng-if="tcError" class="error hint">{{tcErrorMsg}}</div>
                </md-checkbox>
            </div>
        </div>
    </ion-content>
  <ion-footer-bar>
      <div class="button button-full button-positive ink" ng-click="registerUser()"><h4>Submit</h4></div>
  </ion-footer-bar>
</ion-view>